<!--
@Author: ASHISH SASMAL <ashish>
@Date:   30-11-2020
@Last modified by:   ashish
@Last modified time: 04-12-2020
-->


{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
  body {
  background: #E5DDD5 url("https://c4.wallpaperflare.com/wallpaper/620/81/253/pattern-design-dark-texture-wallpaper-preview.jpg") fixed;

}



.chat-log {
  padding: 40px 0 114px;
  height: auto;
  overflow: auto;
}
.chat-log__item {
  background: #128C7E;
  color: white;
  padding: 10px;
  margin: 0 auto 20px;
  max-width: 80%;
  min-width: 40%;
  float: left;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  clear: both;
}

.chat-log__item.chat-log__item--own {
  float: right;
  background: #1b6de0;
  text-align: right;
}

.chat-form {
  background: #DDDDDD;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 80%;
}

.chat-log__author {
  margin: 0 auto .5em;
  font-size: 14px;
  font-weight: bold;
}
</style>

<div class="main">
  <div class="container ">
    <div class="chat-log" id="conversation">
      {% for msg in groupmsgs %}
        {% if msg.fromUser == request.user %}

      <div class="chat-log__item chat-log__item--own">
        <h6>{{ request.user.username }} <small class="ml-3">{{ msg.timestamp|date:"g:i a" }}</small></h6>
        <div class="chat-log__message">{{ msg.text }}</div>
      </div>
      {% else %}
      <div class="chat-log__item">
        <h6 >{{ msg.fromUser.username }} <small class="ml-4">{{ msg.timestamp|date:"g:i a" }}</small></h6>
        <div class="chat-log__message">{{ msg.text }}</div>
      </div>

      {% endif %}
      {% endfor %}
    </div>
  </div>
  <br>
  <div class="chat-form">
    <div class="container ">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <input type="text" class="form-control" id="input" placeholder="Message" />
          </div>
          <div class="col-sm-2 col-xs-4">
            <button type="button" id="submit" class="btn btn-success btn-block">Send</button>
          </div>
        </div>
    </div>
  </div>
</div>



{{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  window.scrollTo(0,document.body.scrollHeight);
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));
            messageInputDom.value = '';
        };




        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'wss://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            // document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n');

            var dict={"class":"chat-log__item chat-log__item--own"}
            if (user_username != data.username)
            {
                dict["class"] = "chat-log__item";

            }

                     document.getElementById('conversation').innerHTML+=

  "<div class='"+dict["class"]+"'>"+
        "<h6>"+data.username +"<small class='ml-3'> Now </small></h6>"+
        "<div class='chat-log__message'>"+data.message+"</div>"+
      "</div>";
      window.scrollTo(0,document.body.scrollHeight);
};

</script>


{% endblock content %}
