{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Wingman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'chat/css/style.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">

    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <h5 class="title">Chat App</h5>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="daterange-container">
                    <div class="date-range">
                        <div id="reportrange">
                            <i class="fa fa-calendar cal"></i>
                            <span class="range-text">Jun 11, 2019 - Jul 10, 2019</span>
                            <i class="fa fa-chevron-down arrow"></i>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        
                        <div class="col-xl-12">
                            <div class="selected-user">
                                <span>To: <span class="name">Emily Russell</span></span>
                            </div>
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll" id="chatinfo">
                                    <li class="chat-left">
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Russell</div>
                                        </div>
                                        <div class="chat-text">Hello, I'm Russell.
                                            <br>How can I help you today?</div>
                                        <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
                                    </li>
                                    <li class="chat-right" >
                                        <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
                                        <div class="chat-text" style="background-color : #3d424a;color:white;">Hi, Russell
                                            <br> I need more information about Developer Plan.</div>
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Sam</div>
                                        </div>
                                    </li>
                                    
                                </ul>
                                <div class="input-group">
                                        <input type="text" id="input" class="form-control" placeholder="Write message...">
                                        <div class="input-group-btn">
                                          <button class="btn btn-default" id="submit" type="submit">
                                           <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                          </button>
                                        </div>
                                      </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
{{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        

<script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));
            messageInputDom.value = '';
        };




        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data);
            // document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n');

            var dict={"selfSide":"chat-right", "selfCol":"#3d424a", "selfFontCol":"white"}
            if (user_username != data.username)
            {
                dict["selfSide"] = "chat-left";
                dict["selfCol"] = "#e9edf0";
                dict["selfFontCol"] = "black";
            }

                     document.getElementById('chatinfo').innerHTML+=

                        "<li class="+dict["selfSide"]+" >"+
                            "<div class='chat-hour'>08:56 <span class='fa fa-check-circle'></span></div>"+
                            "<div class='chat-text' style='background-color : "+dict["selfCol"]+";color:"+dict["selfFontCol"]+";'>"+data.message+"</div>"+
                              "<div class='chat-avatar'>"+
                            "<img src='https://www.bootdey.com/img/Content/avatar/avatar3.png' alt='Retail Admin'>"+
                            "<div class='chat-name'>"+data.username+"</div>"+
                                        "</div></li>"
            };
   
</script>
</body>
</html>