<!--
@Author: ASHISH SASMAL <ashish>
@Date:   04-12-2020
@Last modified by:   ashish
@Last modified time: 12-12-2020
-->



{% extends 'users/base.html' %}
{% load static %}
{% load mytags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'users/css/profile.css' %}">

<div class="container">
<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="profile-header-content">
            <div class="profile-header-img mb-4">
                <img src="{{profile.image.url}}" class="mb-4" alt="" />
            </div>

            <div class="profile-header-info">
                <h4 class="m-t-sm">{{ user.username }}</h4>
                {% if user.username == request.user.username %}
                <a href="{% url 'editprofile' request.user.username %}" class="btn btn-xs btn-primary mb-2">Edit Profile</a>
                {% else %}
                {% if isFriend %}
                {% else %}
                <button id="addf" class="btn btn-xs btn-primary mb-2">Add Friend</button>
                {% endif %}
                <a href="{% url 'room' user.username %}" class="btn btn-xs btn-primary mb-2">Message</a>
                {% endif %}
            </div>
        </div>

        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="#profile-post" class="nav-link" data-toggle="tab">POSTS</a></li>
            <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
            <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
            <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
            <li class="nav-item"><a href="#profile-friends" class="nav-link active show" data-toggle="tab">FRIENDS</a></li>
        </ul>
    </div>

    <div class="profile-container">
        <div class="row row-space-20">
            <div class="col-md-8">
                <div class="tab-content p-0">

                    <div class="tab-pane fade active show" id="profile-friends">
                        <div class="m-b-10"><b>Friend List ({% frndscount user.profile %})</b></div>

                        <ul class="friend-list clearfix">
                            {% for i in fl %}
                            <li>
                                <a href="{% url 'profile' i.user.username %}">
                                    <div class="friend-img"><img src="{{i.image.url}}" alt="" /></div>
                                    <div class="friend-info">
                                        <h4>{{ i.user.username }}</h4>
                                        <p>{% frndscount i %} Friend(s)</p>
                                    </div>
                                </a>
                            </li>
                           {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>

{{ user.username|json_script:"userName" }}
{{ request.user.id|json_script:"user1" }}
{{ user.id|json_script:"user2" }}

<script>




        const userName = JSON.parse(document.getElementById('userName').textContent);
        const user1 = JSON.parse(document.getElementById('user1').textContent);
        const user2 = JSON.parse(document.getElementById('user2').textContent);

        const chatSocket = new WebSocket(
            'wss://' +
            window.location.host +
            '/ws/profile/' +
            userName +
            '/'
        );

        document.querySelector('#addf').onclick = function (e) {
            chatSocket.send(JSON.stringify({
                'action': "1",
                "u1":user1,
                "u2":user2
            }));
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.result)
            {
                alert("Friends Now!");
                location.reload();
            }
            else{
                alert("Some error occured!");
            }
};


</script>

{% endblock content %}
